.shopping-cart-wrapper {
    // margin-top: 150px;
    margin-bottom: 100px;

    .title {
        h1 {
            text-align: center;
            color: #111827;
            margin-bottom: 30px;
        }
    }

    .product-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #707173;

        p {
            color: #707173;
            font-size: 17px;
            font-weight: 500;
            @media(max-width: 575px){
                font-size: 14px;
                font-weight: 600;
            }
        }

        .product-title {
            width: 60%;
            @media(max-width: 767px){
                width: 45%;
            }
            @media(max-width: 575px){
                width: 39%;
            }
            @media(max-width: 380px){
                width: 35%;
            }
        }

        .price-title {
            width: 10%;
            @media(max-width: 380px){
                width: 14%;
            }
        }

        .quantity-title {
            text-align: center;
            width: 130px;
            @media(max-width: 767px){
                width: 105px;
            }
            @media(max-width: 575px){
                width: 92px;
            }
            @media(max-width: 420px){
                width: 82px;
            }
        }

        .total-title {
            width: 10%;
            text-align: right;
        }
    }

    .shopping-cart-inner {
        .shopping-cart-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 25px 0;
            border-bottom: 1px solid #707173;
            &:last-child{
                border-bottom: 0px solid transparent;
            }

            .product {
                width: 60%;
                display: flex;
                flex-direction: row;
                @media(max-width: 767px){
                    width: 45%;
                }
                @media(max-width: 575px){
                    width: 39%;
                }
                @media(max-width: 380px){
                    width: 35%;
                }

                .product-img {
                    max-width: 100px;
                    margin-right: 15px;
                    @media(max-width: 767px){
                        max-width: 80px;
                    }
                    @media(max-width: 575px){
                        max-width: 60px;
                        margin-right: 5px;
                    }
                    @media(max-width: 420px){
                        max-width: 45px;
                    }

                    a {
                        img {
                            width: 100%;
                        }
                    }
                }

                .product-name {
                   
                    a {
                        text-decoration: none;
                        color: #000;
                        @media(max-width: 767px){
                            font-size: 14px;
                            font-weight: 500;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        
                        }
                        @media(max-width: 575px){
                            font-size: 12px;
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }

            .price {
                width: 10%;
                @media(max-width: 380px){
                    width: 14%;
                }

                h5 {
                    color: #707173;
                    font-weight: normal;
                    margin-bottom: 0;
                    @media(max-width: 767px){
                        font-size: 15px;
                        font-weight: 500;
                    }
                    @media(max-width: 575px){
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }

            .quantity {
                width: 130px;
                @media(max-width: 767px){
                    width: 105px;
                }
                @media(max-width: 575px){
                    width: 92px;
                }
                @media(max-width: 420px){
                    width: 82px;
                }

                .cart-product-count {
                    border: 1px solid #707173;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: row;
                    padding: 10px;
                    @media(max-width: 767px){
                        justify-content: space-between;
                        padding: 3px 5px;
                    }
                    @media(max-width: 420px){
                        justify-content: space-between;
                        padding: 2px 0px;
                    }

                    a {
                        color: #000;
                    }

                    input {
                        text-align: center;
                        background-color: transparent;
                        max-width: 70px;
                        border: none;
                        @media(max-width: 767px){
                            max-width: 50px;
                        }
                        @media(max-width: 575px){
                            max-width: 40px;
                            font-size: 14px;
                        }

                        &:focus {
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }

                .quantity-bottom {
                    margin-top: 5px;
                    a {
                        text-align: center;
                        color: #000;
                        display: block;
                        @media(max-width: 767px){
                            font-size: 14px;
                            font-weight: 500;
                        }
                        @media(max-width: 575px){
                            font-size: 13px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .total {
                width: 10%;
                text-align: right;
                h5{
                    color: #707173;
                    font-weight: normal;
                    @media(max-width: 767px){
                        font-size: 15px;
                        font-weight: 500;
                    }
                    @media(max-width: 767px){
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }
        }
        .subtotal-wrapper{
            margin-top: 15px;
            text-align: right;
            h3{
                color: #111827;
                margin-bottom: 25px;
                @media(max-width: 767px){
                        font-size: 20px;
                }
            }
            p{
                color: #707173;
                font-size: 17px;
                margin-bottom: 25px;
                @media(max-width: 767px){
                    font-size: 15px;
                }
            }
            a{
                transition: 0.3s;
                background: #212b36;
                border: 1.5px solid #212b36;
                color: #fff;
                text-transform: uppercase;
                padding: 12px 50px;
                font-size: 18px;
                border-radius: 3px;
                @media(max-width: 767px){
                        font-size: 16px;
                }

                &:hover {
                    background-color: #AB6857;
                    color: #fff;
                    border-color: #AB6857;
                }
            }
        }
    }
}


.cart-inner-wrapper{
    border: 5px solid $white;
    border-radius: 40px;
    background: #DAD7CD;
    padding: 80px 30px 100px 30px;
    @media(max-width: 767px){
        padding: 60px 15px 80px 15px;
    }
}